{% extends "database/layout.html" %}

{% block body %}

<style>

</style>

<div class="container">

    {% if user.is_authenticated %}
    <a href="{% url 'edit' id=song.id %}" class="btn btn-outline-primary">Edit</a>
    <a href="{% url 'edit' id=song.id %}" class="btn btn-outline-secondary">Delete</a>
    {% endif %}

    <div class="title" id="title">{{ song.title }}</div>
    <div class="content" id="content">{{ song.content }}</div>
    <div>
        <div id="author">{{song.author}}</div>
        <div id="composer">{{song.composer}}</div>
        <div id="meter">{{song.meter}}</div>
        <div id="key">{{song.key}}</div>
        <div id="year">{{song.year}}</div>
    </div>
</div>

{% endblock %}